<div class="main-form-wrapper">
    {{#if isEdited}}
    <div style="background-color: lightgreen; display: inline-block;">Аккаунт успешно изменен</div>
    {{/if}}
    <div class="main-form-topic">Просмотреть аккаунт (от имени администратора)</div>
    <div class="main-form">
        <div class="account-form">
            <div class="edit-account-form-body">
                <form method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input name="email" type="email" class="form-control" aria-describedby="emailHelp" readonly value="{{user.email}}">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Nickname</label>
                        <input name="name" type="text" class="form-control" aria-describedby="nickname" readonly value="{{user.name}}">
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <input name="status" type="text" class="form-control showhide" {{editStatusHtml}} readonly value="{{user.status}}">
                        <div class="hide" style="padding-left: 10px; padding-top: 4px;">Previous Role: {{user.role}}</div>
                    </div>
                    <div class="buttons-group">
                        {{#if backHref}}
                        <a href="/{{backHref}}" class="btn gray" style="margin-right: 5px">Назад</a>
                        {{else}}
                        <a href="/admin/users" class="btn gray" style="margin-right: 5px">Назад</a>
                        {{/if}}
                        <button type="submit" class="btn btn-primary">Изменить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>