<div class="main-form-wrapper">
    <div class="main-form-topic">{{formTopic}}</div>
    <div class="account-form">
        <div class="edit-account-form-body">
            <form method="get" action="{{formAction}}">
                <div class="buttons-group">
                    {{#if backHref}}
                    <a href="{{backHref}}" class="btn gray" style="margin-right: 5px">Назад</a>
                    {{else}}
                    <a href="/account" class="btn gray" style="margin-right: 5px">Назад</a>
                    {{/if}}
                    {{#if submitText}}
                    <a href="{{formAction}}" class="btn btn-primary" style="margin-right: 5px">{{submitText}}</a>
                    {{else}}
                    <a href="{{formAction}}" class="btn btn-primary" style="margin-right: 5px">Окей</a>
                    {{/if}}
                </div>
            </form>
        </div>
    </div>
</div>